/* General Styles */
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

a {
    color: hsla(0, 0%, 100%, 0.185);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/* Header */
.site-navbar {
    background-color: #ffffffe8;
    padding: 10px 0;
}

.site-logo a {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

/* Centered Heading */
h1.header-title {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    color: #007bff; /* Primary color */
    font-weight: 700;
}

/* Footer */
.site-footer {
    background-color: #f9fdfc;
    color: #9f9b9b;
    padding: 20px 0;
}

.site-footer p {
    margin: 0;
}

/* Checkout Styles */
h2.my-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

#orderDetails {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align order details */
}

#productList {
    list-style: none;
    padding: 0;
}

#productList li {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: center; /* Center align form group */
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%; /* Make input fields flexible */
    max-width: 400px; /* Limit max width */
    margin: 0 auto; /* Center align input fields */
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block; /* Make button block-level for centering */
    margin: 20px auto; /* Center align button */
    width: 150px; /* Fixed width for button */
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .site-navbar {
        padding: 15px 0;
    }

    .main-nav a {
        padding: 10px 10px;
    }

    .container {
        padding: 0 10px;
    }
}